<div class="content">
  <p class="my-page">-----  <%= @name %>さんの投稿一覧  -----</p>
  <% @blogs.each do |blog| %>
    <%= render partial: "blogs/blog", locals: { blog: blog } %>
  <% end %>
  <% paginate(@blogs) %>
</div>
