@mixin main(){
  .my-page {
  color: gray;
  text-align: center;
  font-size: 20px;
  }
  .item {
    position: relative;
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 900px;
    border-bottom: 2px solid gray;
    padding-bottom: 10px;
    .name {
      font-size: 20px;
      color: gray;
      span {
        padding-right: 20px;
      }
    }
    &-title {
      padding-top: 10px;
      font-size: 30px;
      line-height: 40px;
      height: 40px;
      width: 100%;
      text-align: center;
    }
    &-image {
      float: left;
      height: 300px;
      width: 300px;
      background-size: cover;
    }
    &-text {
      float: right;
      width: calc(100% - 350px);
      .text {
        font-size: 20px;
        line-height: 1.5;
      }
    }
    .more{
      position: absolute;
      top: 400px;
      .more_list{
        display: table;
        .list{
          margin-left: 15px;
          background-color: orange;
          list-style: none;
          display: inline-block;
          padding: 10px 20px;
          border-radius: 4px;
          .btn {
            font-size: 20px;
            text-decoration: none;
            color: white;
            font-weight: bold;
          }
        }
        .list:hover {
          background-color: blue;
        }
      }
    }
  }
}
